body {
    background-color: #195a2b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 4960px;
}

#progress_bar {
    background-color: #21195a;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
}